body{
    font-family: 'Montserrat', sans-serif;
}


main{
    width:100Vw;
    
    
}

.intro{
    margin:0 auto;
}

#name{
    line-height: 2rem;
    margin-bottom:1rem;
    

}

.picture{
    width:220px;
    height:auto;
    margin-top:1.5rem;
    

}